<li>
    <div class="nameDiv">{{this.burger_name}}</div>

    <button class="change-devoured" data-id="{{this.id}}" devour_state="{{devoured}}">
        {{#if devoured}}You just ate one!{{/if}}
    </button>
</li>