{{!-- Following the cats.js example, I tried to include 
the "block" section along with the "burger-block" under
the partials folder. These were both unresponsive and
brought up an error everytime loading to the server.
If I could, I would like help figuring that section
out during office hours. Thanks! --}}


<img class="img-fluid port-image" src="assets/js/burger.png" alt="" width="300">

<div class="plate">
    <p class="script"><span>Welcome to the</span></p>
    <p class="shadow text1">Burger Spot</p>
</div>

<h2>Burgers that have not been eaten!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{!-- This code broke the server
    {{> burgers/burger-block devoured=true}} --}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are eaten!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- //This code broke the server
    {{> burgers/burger-block devour=false}} --}}
    {{/if}}
    {{/each}}
</ul>

<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name: &nbsp</label>
        <input type="text" id="ca" name="name">
        <button type="submit">Add a Burger</button>
    </div>

    <div class="form-group">
        <label for="devour"></label><br>
        <input type="radio" name="devoured" value="1" checked> Eaten!<br>
        <input type="radio" name="devoured" value="0"> Not eaten!
    </div>
</form>